server:
  port: 8080

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      routes:
        - id: crawling_route
          uri: lb://crawling-server
          predicates:
            - Path=/crawling/**
          filters:
            - RewritePath=/crawling/(?<segment>.*), /$\{segment} # URI ???

        - id: keyword_route
          uri: lb://keyword-server
          predicates:
            - Path=/keyword/**
          filters:
            - RewritePath=/keyword/(?<segment>.*), /$\{segment} # URI ???

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalCors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
              - https://newskit.js-kdd.site
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600